.sequencias {
    background-color: #0f1923;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: calc((3.5 + 1) * 10rem);

    .tempo-branco {
        width: 3.5rem;
        color: #fefefe;

        &:nth-child(even) {
            background-color: #1a242d;
        }
    }
}
